$primary-color: #1e2e36;
$secondary-color: #ffffff;
$accent-color: #44c697;
$bg-color: #e5e5e5;

$primary-fonts: 'Proxima Nova';
$dev-link-fonts: 'Cuprum';

body {
  background-color: $bg-color;
  color: $primary-color;
  font-family: $primary-fonts, sans-serif;
  font-weight: 400;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

section {
  padding-bottom: 100px;
}

.container {
  width: 1920px;
  // padding-left: 51px;
  // padding-right: 51px;
  margin-right: auto;
  margin-left: auto;
}
