ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

section {
  padding-bottom: 100px;
}

.container {
  width: 1820px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
